@import '../../../theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

  nb-card-body {
    overflow: visible;
  }

  .input-group {
    margin-bottom: 1rem;
  }


  .validation-checkboxes {
    display: flex;
    justify-content: space-between;

    .custom-control {
      margin-left: 1rem;
    }
  }

  .filled {
    color: nb-theme(color-fg);
  }

  .full-name-inputs {
    display: flex;
  }

  .input-group.has-person-icon {
    position: relative;

    .form-control {
      padding-left: 3rem;
    }

    &::before {
      content: '\F47D';
      font-family: 'Ionicons';
      font-size: 2rem;
      position: absolute;
      z-index: 100;
      left: 1rem;
      top: 0.25rem;
    }
  }

  .dropdown {
    min-width: 7rem;
  }

  .dropdown-menu {
    width: auto;
  }

  .form-group label {
    padding: 0 0 0.75rem;
  }

  @include media-breakpoint-down(xs) {
    button:not(.btn-icon) {
      padding: 0.75rem 1rem;
      font-size: 0.75rem;
    }
  }
}
