<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let primitive of primitives">
    <nb-card size="small" >
      <nb-card-body>
        <div class="picture" style.background-image="url('assets/images/woman/{{primitive._id}}/00.png')"></div>

        <div class="details">
          <div class="title">
            {{primitive.name}}
          </div>
          <div class="description">
            riables. 100% native. Give our kitten a try!
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
          <i class="ion-ios-world"></i>
        </a>

      </nb-card-footer>
    </nb-card>

  </div>
</div>
